body {
    margin: 0px;
}


* {
    box-sizing: border-box;
}

#game {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    position: relative;
}


.hide {
    display: none;
}

.pause {
    animation-play-state: paused;
}

.resume {
    animation-play-state: running;
}

.grab {
    cursor: -webkit-grab;
    cursor: grab;
}

/********** SPILSKÆRM BAGGRUND OG FORGRUND********/

#game_background {
    background-image: url("img/baggrund.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
}




#game_foreground {
    background-image: url("img/forgrund.svg");
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    /*    z-index: 80;*/
    pointer-events: none;

}

/********** GAME ELEMENTS********/



/***********FORGRUNDSKVINDE **********/
/***********FORGRUNDSKVINDE **********/


#kvindefg {
    background-image: url("img/kvindeflipped.svg");
    background-size: 100%;
    width: 23.76vw;
    height: 38.28vw;
    position: absolute;
    /*    z-index: 9;*/
    top: 15vw;
    left: 125vw;


}

.rtl_kvindefg {
    animation-name: rtl_kvindefg_kf;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 2.5s;

}

@keyframes rtl_kvindefg_kf {
    0% {
        transform: translateX(110vw);
    }

    100% {
        transform: translateX(-135vw);
    }

}





/***********BAGGRUNDSKVINDE **********/
/***********BAGGRUNDSKVINDE **********/



#kvindebg {
    background-image: url("img/kvindeloebermstreger.svg");
    background-size: 100%;
    width: 14.4vw;
    height: 23.2vw;
    position: absolute;
    /*    z-index: 7;*/
    top: 5vw;
    left: -15vw;
    /*    SKAL HAVE class="ltr"*/

}


.ltr_kvindebg {
    animation-name: ltr_kvindebg_kf;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 1s;


}

@keyframes ltr_kvindebg_kf {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(125vw);
    }

}








/***********FORGRUNDSKAT **********/
/***********FORGRUNDSKAT **********/



#katfg {
    background-image: url("img/hvidkatflipped.svg");
    background-size: 100%;
    width: 11.769vw;
    height: 10.2vw;
    position: absolute;
    top: 25vw;
    left: -11vw;


}


.ltr_katfg {
    animation-name: lefttoright_katfg_kf;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;


}

@keyframes lefttoright_katfg_kf {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(125vw);
    }

}






/***********BAGGRUNDSKAT **********/
/***********BAGGRUNDSKAT **********/

#katbg {
    background-image: url("img/hvidkatloebermstreger.svg");
    background-size: 100%;
    width: 7.9vw;
    height: 7vw;
    position: absolute;
    top: 15vw;
    left: 102vw;
}



.rtl_katbg {
    animation-name: rtl_katbg_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-delay: 1s;

}

@keyframes rtl_katbg_kf {
    0% {
        transform: translateX(110vw);
    }

    100% {
        transform: translateX(-110vw);
    }

}









/***********TWITTER **********/
/***********TWITTER **********/

#twitter {
    background-image: url("img/twitterturkis.svg");
    background-size: 100%;
    width: 14.25vw;
    height: 25.3125vw;
    position: absolute;
    /*    z-index: 6;*/
    top: 57vw;
    right: 4vw;

}

.tweet {
    animation-name: tweet_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 6s;
    /*    animation-fill-mode: forwards;*/
}

@keyframes tweet_kf {
    0% {
        transform: translateY(0vw);
    }

    50% {
        transform: translateY(-15vw);
    }

    100% {
        transform: translateY(0vw);
    }


}




/********** GAME UI********/
/********** GAME UI********/


#coins {
    background-image: url("img/coinsknap.svg");
    background-size: 100%;
    width: 5vw;
    height: 5vw;
    position: absolute;
    /*    z-index: 90;*/
    top: 30vw;
    left: 3.7vw;
}

#points {
    position: absolute;
    z-index: 91;
    top: 30.6vw;
    left: 5vw;
    font-size: 3rem;
    font-weight: 800;

}


#energy {

    position: absolute;
    top: 37vw;
    left: 3.7vw;
    display: flex;
    justify-content: flex-start;
        flex-direction: column;

}


.heart {
    width: 4.4vw;
    height: 4.4vw;
    background-image: url(img/hjerte.svg);
    background-size: 100%;
    margin-right: 0.9vw;
}


#energyleft {

    position: absolute;
    top: 37vw;
    left: 3.7vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.dead {

    width: 4.4vw;
    height: 4.4vw;
    background-image: url(img/hjertedoed.svg);
    background-size: 100%;
    margin-right: 0.9vw;



}


/*
#life1 {
    background-image: url("img/hjerte.svg");
    background-size: 100%;
    width: 4.4vw;
    height: 4.4vw;
    position: absolute;

    top: 37vw;
    left: 3.7vw;

}
*/

/*
#dead1 {
    background-image: url("img/hjertedoed.svg");
    background-size: 100%;
    width: 4.4vw;
    height: 4.4vw;
    position: absolute;

    top: 37vw;
    left: 3.7vw;

}

*/


/*
#life2 {
    background-image: url("img/hjerte.svg");
    background-size: 100%;
    width: 4.4vw;
    height: 4.4vw;
    position: absolute;

    top: 42vw;
    left: 3.7vw;

}
*/

/*
#dead2 {
    background-image: url("img/hjertedoed.svg");
    background-size: 100%;
    width: 4.4vw;
    height: 4.4vw;
    position: absolute;

    top: 42vw;
    left: 3.7vw;

}
*/

/*
#life3 {
    background-image: url("img/hjerte.svg");
    background-size: 100%;
    width: 4.4vw;
    height: 4.4vw;
    position: absolute;

    top: 47vw;
    left: 3.7vw;

}
*/

/*
#dead3 {
    background-image: url("img/hjertedoed.svg");
    background-size: 100%;
    width: 4.4vw;
    height: 4.4vw;
    position: absolute;

    top: 47vw;
    left: 3.7vw;

}
*/


#time {
    background-image: url("img/tid.svg");
    background-size: 100%;
    width: 3.6vw;
    height: 6vw;
    position: absolute;
    z-index: 90;
    top: 22vw;
    left: 2.5vw;

}




/********** TITELSKÆRM ********/
#start {
    background-image: url("img/titelside.svg");
    background-size: cover;
    width: 100vw;
    height: 56.25vw;
    z-index: 100;
    position: absolute;
    top: 0vw;
    left: 0vw;
    /**** SKAL HAVE  class="fade_out"*********/
}

.fade_out {
    animation-name: fade_out_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fade_out_kf {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.fade_in {
    animation-name: fade_in_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;


}


@keyframes fade_in_kf {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#start_play {
    background-image: url("img/playknapv2.svg");
    width: 17.25vw;
    height: 6vw;
    position: absolute;
    top: 20vw;
    left: 64vw;
    background-size: 100%;


}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1.2);
    }
}


#start_settings {
    background-image: url("img/settingsknap.svg");
    width: 17.25vw;
    height: 6.6vw;
    position: absolute;
    top: 30vw;
    left: 64vw;
    background-size: 100%;


}

#start_cat {
    background-image: url("img/kattearmv2.svg");
    width: 18.27vw;
    height: 26.7vw;
    position: absolute;
    top: -27vw;
    left: 58vw;
    background-size: 100%;


}

.catarm {
    animation-name: catarm_kf;
    animation-duration: 6s;
    animation-iteration-count: infinite;

}

@keyframes catarm_kf {
    0% {
        transform: translateY(10vw);
    }

    50% {
        transform: translateY(22vw);
    }

    100% {
        transform: translateY(10vw);
    }


}


/********** TITELSKÆRM SLUT ********/




/********** ABOUT********/
#about {
    background-image: url("img/startmenu.svg");
    background-size: 100%;
    width: 49.2vw;
    height: 45.6vw;
    position: absolute;
    z-index: 99;
    top: 1vw;
    left: 25vw;


}

#about_play {
    background-image: url("img/gebtp.svg");
    width: 17.25vw;
    height: 6vw;
    position: absolute;
    top: 35vw;
    left: 16vw;
    background-size: 100%;


}


/********** SETTINGS********/


#settings {
    background-image: url("img/settingsupdated.svg");
    background-size: 100%;
    width: 60vw;
    height: 31vw;
    position: absolute;
    z-index: 101;
    top: 10vw;
    left: 22vw;



}

#musictoggle {
    background-image: url("img/settingsroedknap.svg");
    background-size: 100%;
    width: 2vw;
    height: 2.1vw;
    position: absolute;
    top: 11.8vw;
    left: 38.1vw;


}

#soundtoggle {
    background-image: url("img/settingsroedknap.svg");
    background-size: 100%;
    width: 2vw;
    height: 2.1vw;
    position: absolute;
    top: 18.7vw;
    left: 47vw;

}

/*
#settings_knap3 {
    background-image: url("img/settingsroedknap.svg");
    background-size: 100%;
    width: 2vw;
    height: 2.1vw;
    position: absolute;
    top: 23vw;
    left: 45vw;


}
*/

#exit {
    background-image: url("img/exitknap.svg");
    background-size: 100%;
    width: 2vw;
    height: 2.2vw;
    position: absolute;
    top: 2vw;
    left: 55vw;

}






/********** GAMEOVER********/


#gameover {
    background-image: url("img/youlost.svg");
    background-size: 100%;
    width: 60vw;
    height: 31vw;
    position: absolute;
    z-index: 99;
    top: 10vw;
    left: 22vw;



}

#playagain_knap {
    background-image: url("img/playagainknap.svg");
    background-size: 100%;
    width: 13.8vw;
    height: 6vw;
    position: absolute;
    top: 21.5vw;
    left: 23vw;


}



/********** COMPLETE********/

#complete {
    background-image: url("img/youwon.svg");
    background-size: 100%;
    width: 60vw;
    height: 31vw;
    position: absolute;
    z-index: 99;
    top: 10vw;
    left: 22vw;



}

#playagain_knap2 {
    background-image: url("img/playagainknap.svg");
    background-size: 100%;
    width: 13.8vw;
    height: 6vw;
    position: absolute;
    top: 20vw;
    left: 23vw;


}
